

.mainpage-tittle{
    font-weight: 600;
}

.mainpage-rule{
    margin: 10px 0;
    height: 3px;

}


.mainpage-tab .euiTabs .euiTab{
    font-weight:300;
    font-size: 16px;
    padding: 0 15px 0 0 !important;
    color: #343741;

}


.mainpage-tab .euiTabs .euiTab.euiTab-isSelected{
    font-weight: 600;
    font-size: 16px;
    color:#0F3254;
    background-color: aliceblue;
}



.mainpage-tabs.euiTabs button{
    padding: 0 10px 4px 4px ;

}


.mainpage-tabs.euiTabs button .euiTab__content svg{
    width: 12px;
    height: 12px;
    margin-right: 4px;
}