

.tablemessage-icon.euiIcon{
    color: red;
    line-height: 15px;
}


.tablemessage-icon.euiIcon--medium {
    width: 35px !important;
    height:35px !important;

}

.tablemessage-tittle{
    font-weight: 600;
    line-height: 15px;
    
}


.tablemessage-paragraph1{
    font-size: 13px;
    line-height: 15px;
    margin: 10px 0;
}

.tablemessage-paragraph2{
    font-size: 13px;
    line-height: 15px;
}